* {
  background-color: #231F20;
  color: #fff;

}

.header-of-header-section {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

}

.logo-container{
  margin-right: 50px;
  margin-top: 10px;
  margin-left: 10px;

}

.header-nav-section {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #fff;
  margin-top: 20px;
  align-items: center;
  
}

.header-nav-section div{
  cursor: pointer;
  
}

.fitness-div-container,
.poz-qazan-div-container,
.virtual-fitness-div-container,
.express-keno-div-container,
.bingo-div-container,
.loto-div-container{
  margin-right: 20px;

}

.digital-games-div-container{
  margin-right: 0px;

}

.fitness-div-container {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 14px;
  /* 100% */
  text-transform: uppercase;
  display: flex;
  width: 48.517px;
  height: 14px;
  flex-direction: column;
  justify-content: center;

}

.poz-qazan-div-container {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 11px;
  /* 78.571% */
  text-transform: uppercase;
  display: flex;
  width: 96.989px;
  height: 11px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

}

.virtual-fitness-div-container {
  display: flex;
  width: 114.036px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 14px;
  /* 100% */
  text-transform: uppercase;

}

.express-keno-div-container {
  display: flex;
  width: 106.995px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 14px;
  /* 100% */
  text-transform: uppercase;

}

.bingo-div-container {
  display: flex;
  width: 45.949px;
  height: 11px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 11px;
  /* 78.571% */
  text-transform: uppercase;

}

.loto-div-container {
  display: flex;
  width: 74.695px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 14px;
  /* 100% */
  text-transform: uppercase;

}

.digital-games-div-container {
  display: flex;
  width: 128.679px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 14px;
  /* 100% */
  text-transform: uppercase;

}

.sign-up-button-itself {
  display: flex;
  width: 100px;
  height: 39px;
  padding: 12px 14.722px 12px 15.02px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  background: #FE4100;
  border: none;
  font-family: Inter;
  font-size: 12px;

}

.sign-up-button-itself:hover {
  cursor: pointer;

}

.log-in-button-itself {
  display: flex;
  width: 100px;
  height: 39px;
  padding: 12px 22.151px 12px 22.54px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #FE4100;
  background: #FFF;
  color: #FE4100;
  font-family: Inter;
  font-size: 12px;
  text-transform: uppercase;

}

.header-log-in-button-container{
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: 20px;

}

.log-in-button-itself{
  margin-left: 20px;

}